ITKBuildRoot=/path/to/ITKTubeTK/build/
source $HOME/itk-tube-web/.venv/bin/activate

pythonpaths=(
  $ITKBuildRoot/ITK-build/Wrapping/Generators/Python/
  $ITKBuildRoot/ITK-build/lib/
  $ITKBuildRoot/TubeTK-build/lib/
)

printf -v pythonpaths ":%s" "${pythonpaths[@]}"
export PYTHONPATH="${pythonpaths:1}":${PYTHONPATH}

python $@
