@ECHO OFF

setlocal

# Fix the following line
set PYTHONPATH=\src\ITK-Release\Wrapping\Generators\Python\;\src\ITK-Release\lib\;\src\ITKTubeTK-Release\TubeTK-build\lib\

echo %PYTHONPATH%

python %*

endlocal

# .\run.bat server\server.py --data "\Users\me\Data\myImage.mha" --content .\dist
